@rem: 1/14rem;
@margin-xs: 5 * @rem;
@margin-sm: 10 * @rem;
@margin-df: 15 * @rem;
@margin-lg: 20 * @rem;
@margin-xl: 25 * @rem;

@font-size-xs: 10 * @rem;
@font-size-sm: 12 * @rem;
@font-size-df: 14 * @rem;
@font-size-lg: 16 * @rem;
@font-size-xl: 18 * @rem;

@color-black: #333;

@background-ghost: #f2f2f2;
